In [1]:
rdds = sc.parallelize([1,2,3,4,5,6,7,8,9,10])
print rdds

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:480

In [2]:
print rdds.take(1)

[1]

In [3]:
sm = rdds.reduce(lambda x,y:x+y)
print "sum : %s"%sm

sum : 55

In [4]:
for x in rdds.collect():
    print x

1
2
3
4
5
6
7
8
9
10

In [6]:
import numpy as np

In [7]:
a = np.array([1, 2, 3])   # Create a rank 1 array
print a

[1 2 3]

In [8]:
from pyspark.sql.types import *
from pyspark.sql import Row

df = rdds.map(lambda x : Row(x)).toDF(['value'])
#df.show()
df.registerTempTable("sample")

sqlContext.sql("select sum(value) as total,min(value) as min_val,max(value) as max_val,avg(value) as avg_val from sample").show()

+-----+-------+-------+-------+
|total|min_val|max_val|avg_val|
+-----+-------+-------+-------+
|   55|      1|     10|    5.5|
+-----+-------+-------+-------+

In [9]:
import pandas
import random

df1 = pandas.DataFrame(np.random.randn(100, 4), columns=list('ABCD'))
print df1

           A         B         C         D
0  -0.304149 -0.408455 -0.723918 -0.107341
1  -0.552827 -0.003346  0.478318  0.717431
2   0.625947  0.787145 -0.100185  0.678297
3  -0.081085  0.011943  0.892284  1.392128
4   0.027958 -1.364282  0.084398  1.120073
5   0.193226  0.786497 -0.733117 -0.069226
6  -1.031047 -0.590634  1.365930 -0.299936
7   1.629979 -0.714388 -0.265548  1.029792
8   0.899933  0.741608  1.356080 -1.210335
9   0.182145  0.735276 -0.281002  1.344673
10  0.518518  0.732753 -0.519727  1.047279
11 -0.222896 -0.149664 -0.859946 -0.621679
12  0.753379 -0.285287 -0.913112 -0.464468
13  0.107731 -0.890484  0.161203 -0.806610
14 -0.442828  0.943511 -1.106633  0.862737
15 -0.020266  0.059648  0.534003 -1.210092
16 -1.131299 -0.134942  2.531375  0.994579
17 -1.080263  0.531288 -0.873570  0.794621
18  0.323633  0.474553  1.812508 -0.096620
19 -1.094870  0.621272 -0.285590 -0.642715
20  2.125876 -0.014628  0.593372  0.464907
21  0.881311  0.934736 -0.637821 -0.761403
22 -2.010000 -0.377961 -1.093856  0.522993
23 -0.462740  0.438531  0.397275  0.724390
24 -0.463078  0.885677  0.530581  0.475683
25  0.748244 -1.028041 -1.609959 -0.642787
26  0.410328 -0.452618  0.483328  0.960267
27  0.487595  1.153589 -0.455135 -0.934824
28  1.654820  0.466990  1.467159  0.530107
29 -1.416237  0.697608 -1.133487  0.159803
..       ...       ...       ...       ...
70 -0.344938  0.057345 -0.699341 -1.099326
71 -0.110135  0.628404 -0.961567 -1.971035
72 -0.897259  1.370968 -1.154120  1.409553
73 -1.439969  0.442907  0.043869 -1.911029
74 -0.237562  1.823553 -1.622269  0.902513
75  2.300478  0.235179  0.078528  0.937254
76 -0.951951  0.173510  0.331092 -0.598253
77  1.347543  0.038464 -1.099293 -0.565516
78 -0.415610  0.870285 -0.936588 -0.031393
79 -0.449250 -0.310720 -0.337272  0.145233
80  1.174901  0.451000  0.418093 -0.492446
81 -2.725771 -2.136972 -0.661746  0.359716
82 -0.352958  1.546042  0.628689 -1.558652
83 -0.419258 -0.759907 -0.126731  1.412823
84  0.277389 -0.018096 -1.119426  1.361208
85  0.356490 -2.624488  1.985976  0.896012
86 -0.008356 -1.478880  0.814772 -0.176140
87  0.168996  1.345346  1.671807  1.395874
88 -1.686012  0.132066  1.082013 -0.948296
89  1.808965 -1.368708 -1.096344 -0.385780
90 -0.314445 -0.267814  0.613907 -1.236952
91 -0.060910  0.957822  0.870169 -0.457440
92 -0.509075 -0.263056  0.111371  0.116141
93 -0.631595  0.821776  1.048855 -0.657821
94 -0.482337  0.844508  1.838131 -1.830892
95 -0.586656  0.071248 -0.692117 -0.563386
96 -0.234549 -0.385767  2.774971  0.047647
97  1.364760 -0.374313 -0.014522  1.929984
98 -0.364095 -0.476323  0.444183  1.034684
99  0.547074 -2.155862  1.368371  1.594167

[100 rows x 4 columns]